header {
  display: flex;
  flex-direction: column;
}

.container-search {
  width: 80vw;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

#buscar {
  font-size: 1rem;
  width: 7rem;
}

.collection {
  border: none;
}

.collection .collection-item {
  border: none;
  padding: 5px 20px;
}

.collection-item .avatar {
  height: 5px;
}

.collection-item {
  padding-bottom: 2px;
}

.container-main {
  display: flex;
  height: 50vh;
  margin-left: 20px;
  margin-right: 10px;
  flex-direction: row;
  position: absolute;
}

.container-search-results {
  border: 1px solid grey;
  width: 70vw;
  height: 1000px;
}

.container-statistics {
  border: 1px solid grey;
  width: 50vw;
  height: 40vh;
  margin-left: 10px;
}

.search-icon {
  padding-top: 20000px !important;
  border-radius: 100px;
}

.container-statistics h4,
.container-search-results h4 {
  margin-left: 5px;
}

.bold-number {
  text-decoration: wavy;
}

.search {
  display: flex;
  width: 50vw;
  border: 1px solid grey;
  border-radius: 1000px;
}
