body {
    margin-left: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: grey;
}

input {
    border: 5px solid white;
    -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
    padding: 15px;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 0 10px 0;
}

h1 {
    font-size: 2rem;
    margin-top: 15px;
}

form {
    padding-top: 30px;
}

.list {
    padding-top: 30px;
    margin-left: 15px;
}

li {
    display: flex;
    align-items: center;
}

.btn-text {
    margin-left: 10px;
}

.btn {
    border-radius: 1000px;
    background-color: red;
    font-weight: bold;
}