body {
  background-color: #2a9d8f;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 50vw;
  height: 50vh;
  background-color: white;
  text-align: center;
}

.social {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.social-linkedin,
.social-github {
  margin: 10px;
}
