.right,
.left {
  padding: 5px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #57606f;
  height: 5vh;
}

.left {
  color: white;
}
