.flexOrientation {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 150px;
}

@media screen and (max-width: 700px) {
  .col {
    margin-right: 115px;
  }
}

@media screen and (min-width: 710px) {
  .col {
    margin-right: 120px;
  }
}
@media screen and (min-width: 1000px) {
  .col {
    margin-right: 100px;
  }
}
